<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h2>Refinements:</h2>
      <form #newGame="ngForm" (ngSubmit)="onSubmit(newGame)">
        <div class="form-group">
          <label for="GameId">Game Id:</label>
          <input type="number" class="form-control" name="GameId" id="gameId" ngModel>
        </div>
        <div class="form-group">
          <label for="Game_Name">Game Name:</label>
          <input type="text" class="form-control" name="Game_Name" id="gameName" ngModel>
        </div>
        <div class="form-group">
          <label for="Player_One">Player One:</label>
          <input type="text" class="form-control" name="Player_One" id="playerOne" ngModel>
        </div>
        <div class="form-group">
          <label for="Player_Two">Player Two:</label>
          <input type="text" class="form-control" name="Player_Two" id="playerTwo" ngModel>
        </div>
        <div class="form-group">
          <label for="Winner">Winner:</label>
          <select class="custom-select" name="Winner" id="winner" ngModel>
            <option value="">Choose Player</option>
            <option value="1">Player One</option>
            <option value="0">Player Two</option>
          </select>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Search</button>
          <button type="reset" class="btn btn-primary float-right" ng-click="reset()" (click)="onClearResults()">Clear</button>
        </div>
      </form>
    </div>
    <div class="col-1"></div>
    <div class="col-9">
      <h2>Search Results:</h2>
      <table *ngIf="games && games.length > 0" class="table">
        <thead>
          <tr>
            <th scope="col-1">#</th>
            <th scope="col-2">Game Name</th>
            <th scope="col-2">Player One</th>
            <th scope="col-2">Player Two</th>
            <th scope="col-2">Winner</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games">
            <th scope="row">{{game.Id}}</th>
            <td>{{game.Game_Name}}</td>
            <td>{{game.Player_One}}</td>
            <td>{{game.Player_Two}}</td>
            <td>{{game.Winner ? "Player One" : "Player Two"}}</td>
          </tr>
        </tbody>
      </table>
      <h3 *ngIf="(searched && !games) || (searched && games && games.length == 0)">
          Sorry, no games were found, try a different search terms</h3>
          
    </div>
  </div>
</div>
